<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conocimientos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card >
    <ion-card-header>
      <ion-card-title><b>Herramientas</b></ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-card-subtitle><b>BackEnd</b></ion-card-subtitle>
      <ion-item>
        <ion-label>- Postgre</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>- Node.js</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>- Prisma</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-card-subtitle><b>FrontEnd</b></ion-card-subtitle>
      <ion-item>
        <ion-label>- JavaScript</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>- React</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>- Vaadin</ion-label>
      </ion-item>
    </ion-list>

  </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title><b>Cursos</b></ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label>Centro de Educación Continua EPN || 2023  <br><br> -  Fundamentos de Inteligencia Artificial</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

    
    <ion-card>
      <ion-card-header>
        <ion-card-title><b>Idiomas</b></ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label>Español: Nativo</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Ingles: Intermedio</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

</ion-content>
